.action a {
  color: #FE642E;
}

.diffold {
	width: 45%;
	margin-left: 0;
	margin-right: auto;
	background: #ccff99;
	display: inline-block;
}

.diffnew {
	width: 45%;
	margin-left: auto;
	margin-right: 0;
	background: #00ff99;
	display: inline-block;
}

.diffempty {
	background: transparent;
}

[diffpick="1"]{
	padding: 0px;
	color: black;
}

.diffblockboth{
	display: block;
	padding: 0px;
	color: black;
}

[diffpick="0"]{
	padding: 0px;
	color: #c0c0c0;
	text-decoration: line-through;
}

[diffpick="-1"]{
	padding: 0px;
	background: Coral;
}


